:root {
    --text: #000000;
    --background: #f3ece2;
    --primary: #ccccff;
    --primaryHover: #ccccffbe;
    --secondary: #f9f5f1;
    --secondaryHover: #e6e2de;
    --accent: #330e34;
    --accentHover: #330e33;
}

body {
    background-color: var(--background);
}

.navbar {
    background-color: var(--primary);
}

.logo {
    display: flex;
    width: 70%;
    align-items: flex-start;
}

.logo-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar-expand-md {
    justify-content: space-around !important;
}

.scroll-container {
    width: 80vw;
    height: 30vh;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.scroll-container .col {
    margin: 0 10px 0 10px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}

.vignette{
    
}

.noticia-img{
    background-image: radial-gradient(circle, transparent, black);
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 16/9;
}

.eventos{
    display: flex;
}

.evento-container{
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.evento-img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 12px;
}

.evento-title{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 18px;
}

.colaborador-button{
    font-size: medium;
    color: var(--accent);
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--accent);
    background: var(--secondary);
    line-height: 47px;
}

.colaborador-button:hover{
    color: var(--accentHover);
    background: var(--secondaryHover);
}

.container h1 {
    text-align: center;
}

thead {
    background-color: rgb(194, 194, 194);
}

table {
    margin-top: 10px;
}

.btn-success {
    margin-top: 10px !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
