.navbar{
    background-color: #CCCCFF;
}

.logo{
    display: flex;
    width: 70%;
    align-items: flex-start;
}

.logo-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar-expand-md {
    justify-content: space-around !important;
}

.scroll-container{
    width: 80vw;
    height: 30vh;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.scroll-container .col{
    margin: 0 10px 0 10px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}

.container h1{
    text-align: center;
}

thead{
    background-color: rgb(194, 194, 194);
}

table{
    margin-top: 10px;
}

.btn-success{
    margin-top: 10px !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }