.navbar{
    background-color: #CCCCFF;
}

.logo{
    display: flex;
    width: 70%;
    align-items: flex-start;
}

.logo-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar-expand-md {
    justify-content: space-around !important;
}

.container h1{
    text-align: center;
}